@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
}

/** _var.sass **/
/** _mix.sass **/
header {
  position: relative;
  height: 50px;
  min-height: 50px;
}

.cnt_0 {
  position: absolute;
  width: 1140px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  min-height: 50px;
  background-color: #212121;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu_link:hover {
  text-decoration: none;
  color: #1eacc7;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 35px;
}

.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader_call {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
  /** width: 180px **/
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  padding: 71px 0 65px 0;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.label_w {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #ffffff;
  color: #000000;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title {
  margin-bottom: 0;
  margin-top: 33px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.title_w {
  margin-bottom: 0;
  margin-top: 27px;
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  font-family: Roboto;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #222222;
  text-align: center;
}

.subtitle_w {
  font-family: Roboto;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  color: #FFFFFF;
}

.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reasons_block .reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons_block .reasons_descr {
  width: 343px;
  margin-left: 25px;
}

.reasons_block .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reasons_block .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0px 61px 0px;
  background: url("../img/bg/mobile_app.png");
}

.mobile .row {
  margin-top: 30px;
}

.mobile_item {
  /* Карточка 1 */
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 88px;
}

.mobile_item_1 {
  background: url("../icons/mobile/scr_mobile/one_touch.png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../icons/mobile/scr_mobile/trust.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../icons/mobile/scr_mobile/clear_price.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../icons/mobile/scr_mobile/n_cash.png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../icons/mobile/scr_mobile/link.png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../icons/mobile/scr_mobile/card_div_cost.png") center center/cover no-repeat;
}

.mobile_item_subtitle {
  height: 62px;
  font-size: 24px;
  line-height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile_item_plus {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  width: 29px;
  height: 29px;
  background: #000000;
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #1eacc7;
}

.mobile_item_plus:hover {
  color: #ff5656;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.selection {
  padding-top: 56px;
  background: #070716;
  height: 502px;
}

.car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 54px;
}

/* Машины на каждый день. Лучше, быстрее и дешевле, чем такси */
.select_txt {
  margin: 0 auto;
  width: 327px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.sel_2 {
  background: url("../img/bg/mobile_app.png");
  height: 397px;
}

.req_ {
  padding: 68px 0 59px 0;
}

.req_block {
  padding: 33px 0 28px 0;
}

.req_title {
  /* УСЛОВИЯ: */
  width: 480px;
  height: 24px;
  font-size: 22px;
  line-height: 24px;
  color: #1CA8C3;
}

.req_txt {
  /* В день заработок */
  font-size: 17px;
  line-height: 24px;
  color: #1CA8C3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.req_list {
  /** Подключаем к системе UBER  под 10%. Ни  **/
  list-style-type: none;
  padding-left: 50px;
  font-size: 17px;
  font-weight: 300;
  color: #222222;
  line-height: 24px;
  margin-top: 16px;
}

.req_list li {
  position: relative;
  margin-top: 5px;
}

.req_list li:before {
  position: absolute;
  left: -30px;
  top: 3px;
  margin-right: 10px;
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background: url("../icons/desctop/scr_requests/v_blue.png") center center/cover no-repeat;
}

.req_ .warning .req_title {
  color: #ff5656;
}

.req_ .warning .req_list li:before {
  background: url("../icons/desctop/scr_requests/v_red.png") center center/cover no-repeat;
}

.map_bg {
  height: 720px;
  background: #080816;
}

.map_ {
  position: relative;
  background: url("../img/bg/map.jpg") center no-repeat;
  padding: 46px 0 21px 0;
  height: 720px;
}

.all_cities_ {
  /* посмотреть все города */
  position: absolute;
  bottom: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 223px;
  height: 68px;
  font-size: 15px;
  line-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}

.line_bg {
  height: 40px;
}

.line_bg .line_ {
  /* Разделитель */
  position: absolute;
  margin-top: 11px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 301px;
  height: 7px;
  background: #1FBAD6;
}

footer {
  height: 157px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.central_ {
  display: inline-block;
  width: 50%;
}

.c_f1 {
  position_: absolute;
  width_: 420px;
  height_: 30px;
  min-height: 30px;
  left_: 50%;
  transform_: translateX(-50%);
  margin_: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.c_f2 {
  position_: absolute;
  width_: 430px;
  height_: 20px;
  min-height: 20px;
  top_: 70px;
  left_: 50%;
  transform_: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav_f {
  width_: 500px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav_f2 {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left_: 50%;
  transform_: translateX(-50%);
}

.menu_f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /** margin: 0 **/
  text-align: center;
  list-style-type: none;
  padding: 4px;
}

.menu_f2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 4px;
  /** margin: 0 **/
  list-style-type: none;
}

.menu_f_link {
  font-size: 15px;
  font-weight: 300;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #070716;
  padding: 4px;
}

nav_f2 {
  height: 50px;
  /** left: 50% **/
  /** transform: translateX(-50%) **/
}

.menu_f2_link {
  font-size: 11px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #999999;
  padding: 5px;
}

.lang_ {
  display: block;
  margin-top: 11px;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}

.soc_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  left: 23px;
  top: 48px;
  /** width: 167px **/
  width: 25%;
  padding-left: 2%;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #000;
  color: white;
  margin: 4px;
}

.links_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 5%;
  width: 25%;
  padding-right: 1%;
}

.Store_ {
  max-width: 30%;
  margin: 1%;
}

/** круг с иконкой **/
.ratio {
  width: 15%;
  margin: 2%;
}

.ratio_inner {
  position: relative;
  height: 0px;
}

.ratio_content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: #000;
  top: 0px;
}

.icon_ {
  height: 55%;
}

.ratio_1_1 {
  padding-top: 100%;
}

/** круг с иконкой **/
.ratio2 {
  width: 22%;
  margin: 0%;
  padding-top: 1%;
}

.ratio_inner2 {
  position: relative;
  height: 0px;
}

.ratio_content2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  /** background-color: #1eacc7 **/
  background-color: #1eacc7;
  top: 0px;
}

.icon2_ {
  height: 68%;
}

.ratio_2_2 {
  padding-top: 100%;
}

.hamburg {
  display: none;
}

.xs-visible {
  display: none;
}

/** _main.sass **/
@media (max-width: 1199px) {
  .menu_item {
    padding-right: 28px;
  }
  .menu_link {
    font-size: 13px;
  }
  .menu_header {
    font-size: 40px;
  }
  .menu_subheader {
    font-size: 30px;
  }
  .mobile_item {
    width: 290px;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 6px;
  }
  .promo_subheader {
    font-size: 26px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .mobile_item {
    width: 200px;
    height: 200px;
    padding-top: 42px;
  }
  .cnt_0 {
    width: 700px;
  }
  .subheader_official {
    font-size: 15px;
  }
  .subheader_btn {
    width: 100%;
    height: 50%;
    margin-top: 15%;
  }
  /** .soc_
        flex-direction: column **/
  .links_ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 25%;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .Store_ {
    max-width: 60%;
    margin: 1%;
  }
}

@media (max-width: 767px) {
  .promo_header {
    font-size: 35px;
  }
  .promo_subheader {
    font-size: 23px;
  }
  .subheader_official {
    font-size: 13px;
  }
  .subheader_btn {
    /** width: 100% **/
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 15px;
  }
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    top: 50px;
    left_: -100%;
    right: -70%;
    width: 60%;
    height: 100vh;
    height: auto;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 1.1s all;
    transition: 1.1s all;
  }
  .menu_active {
    right: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburg {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 27px;
  }
  .hamburg span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    margin: 5px;
    -webkit-transition: 1.1s all;
    transition: 1.1s all;
  }
  .hamburg_active span {
    -webkit-transition: 1.1s all;
    transition: 1.1s all;
  }
  .hamburg_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-3px, 4px);
            transform: rotate(-45deg) translate(-3px, 4px);
    /** margin-bottom: -8px **/
  }
  .hamburg_active span:nth-child(2) {
    -webkit-transform: rotate(45deg) translate(-2px, -3px);
            transform: rotate(45deg) translate(-2px, -3px);
    /** margin-bottom: 8px **/
  }
  .hamburg_active span:nth-child(3) {
    /** display: none  **/
    -webkit-transform: scale(1, 0) translate(-220px, 0px);
            transform: scale(1, 0) translate(-220px, 0px);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .promo_header {
    line-height: 40px;
    font-size: 36px;
  }
  .promo_subheader {
    line-height: 30px;
    font-size: 20px;
  }
  .subheader {
    height: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 16px;
  }
  .subheader_phone {
    margin: 0 auto;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .subheader_btn {
    margin: 0 auto;
    width: 100%px;
    height: 25px;
    font-size: 9px;
    margin-top: 4px;
  }
  .menu_link {
    font-size: 15px;
    /* для того, чтобы меню вызывалось по всей ширине */
    /* width: 100% */
    display: block;
  }
  .menu_itam {
    /* для того, чтобы меню вызывалось по всей ширине */
    width: 100%;
  }
  .promo {
    min-height: 300px;
    padding-bottom: 50px;
  }
  .promo_header {
    margin-top: -40px;
  }
  .promo_btn {
    margin-top: 60px;
  }
  .promo_descr {
    display: none;
  }
  .reasons {
    padding: 22px 0;
  }
  .title {
    font-size: 16px;
    margin-top: 15px;
  }
  .car {
    height: 200px;
  }
  .select_txt {
    width: 100%;
    margin: 0;
  }
  .req_title {
    width: 100%;
  }
  .sel_2 {
    height: 170px;
  }
  .req_ {
    padding: 31px 0 59px 0;
  }
  .req_title {
    height: auto;
  }
  .map_ {
    background: url("../img/bg/map.jpg") center no-repeat;
    background-size: 650px;
    height: 400px;
    padding: 20px;
  }
  .map_ .label_w {
    width: 75px;
  }
  .map_ .title_w {
    font-size: 16px;
    margin-top: 14px;
  }
  .map_bg {
    height: 400px;
    margin-top: 27px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .central_ {
    /* ширина */
    width: 100%;
    /* пордок следования блоков */
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  nav_f {
    height: 30px;
  }
  nav_f2 {
    height: 20px;
  }
  .soc_ {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    /* изменить порядок расположения блоков */
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .links_ {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    /* изменить порядок расположения блоков */
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .Store_ {
    max-width: 30%;
    margin: 1%;
  }
  .menu_f_link {
    font-size: 14px;
  }
  .menu_f_link:hover {
    text-decoration: none;
    color: #070716;
    font-weight: bold;
  }
  .menu_f2_link {
    font-size: 11px;
  }
  .menu_f2_link:hover {
    text-decoration: none;
    color: #070716;
    font-weight: bold;
  }
  .lang_:hover {
    text-decoration: none;
    /* color: #070716 */
    font-weight: bold;
  }
}

/** _media.sass **/
/*# sourceMappingURL=style.1.css.map */